.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.notifications{
  position: relative;
}

.notifications small.count {
  position: absolute;
  background: red;
  border-radius: 10px;
  color: white;
  bottom: 0;
  font-size: 9px;
  padding: 3px;
  right: 0;
}

.notifications .dropdown-toggle::after{
  display: none;
}

small{
  display: block;
}

.accountImage {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;
  z-index: -1;
}

table.table td {
  padding: 2px !important;
  vertical-align: middle;
  text-align: right;
}
table.table td, table.table th {
  position: relative;
}
@media only screen and (max-width: 600px) {
  table.table td, table.table th {
    display: none;
 }
  table.table td.table-active, table.table th.table-active {
    display: table-cell;
 }
  table.table td.description, table.table th.description {
    width: 200px;
 }
}
table.table td .btn, table.table th .btn {
  padding: 5px;
  margin-left: 3px;
}
table.table td .btn.btn-link, table.table th .btn.btn-link {
  width: auto;
}

.logo{
  width: 24px;
}

.negative {
  color: #bf0606;
}
.positive {
  color: #0e4a0e;
}
